@-ms-viewport{
    width: device-width;
}

@keyframes element {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    70% {
        transform: scale(1);
        opacity: .7;
    }
    100% {
        transform: scale(1);
    }
}
div.element {
    animation-duration: 2s;
    animation-name: element;
}

/*@keyframes bio-1 {*/
/*from {*/
/*margin-left: 100%;*/
/*width: 100%;*/
/*}*/

/*to {*/
/*margin-left: 0%;*/
/*width: 100%;*/
/*}*/
/*}*/
.bio-1{
    /*animation-name: bio-1;*/
    /*animation-duration: 0.75s;*/
    /*animation-timing-function: ease;*/
    /*animation-delay: initial;*/
    /*animation-iteration-count: initial;*/
    /*animation-direction: initial;*/
    /*animation-fill-mode: both;*/
    /*animation-play-state: initial;*/
    display: inline-block;
    width: 450px;
    position: relative;
    float: left;
    font-size: 34px;
    font-family: 'Prata', serif;
    margin-left: 100px;

}
.navbar{
    width: 100%;
    position: relative;
    border-radius: 0px;
    height: 161px;
    margin-top: 0;
    text-align: center;
    /*background-color: #FECF51;*/
    border: 5px;
    z-index: 5;
    padding-top: 0;
}
.yellow{
    background-color: #FECF51;
    width: 100%;
    position: relative;
    z-index: 5;
    height: 485px;
    padding-top:10px;
}

#name-info{
    /*float:left;*/
    padding-left: 10px;
}
#name{
    color: #454243;
    font-size: 30px;
    /*float:left;*/
    display: inline-block;
    padding-left: 7px;
    margin-bottom: 0;
    margin-top: 7px;
    /*font-family: 'Rozha One', serif;*/
    font-family: 'Prata', serif;
}
#software-developer{
    font-size: 20px;
    /*float:left;*/
    display: inline-block;
    color:#fff;
    font-family: 'Raleway', sans-serif;
}
.contact{
    color:#6B6B6B;
}
#contact-info{
    color:#FFE39E;
    float:right;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid #6B6B6B;
    border-radius: 20px;
    padding: 4px;
}
body{
    background-color: #FFFFFF;
}
.homepage{
    padding-top:110px;
    float: left;
    padding-bottom: 300px;

}
.skills{
    max-width: 1200px;
}
.lang{
    display: inline-block;
    /*flex-direction: column;*/
    padding-right: 95px;
    padding-top: 30px;
    align-items: center;
    width:auto;
}
.tools{
    display: inline-block;
    /*flex-direction: column;*/
    padding-right: 0px;
    padding-top: 30px;
    align-items: center;
    width:auto;

}
.lib{
    display: inline-block;
    /*flex-direction: column;*/
    padding-right: 95px;
    padding-top: 30px;
    align-items: center;
    width:auto;

}
.gray {
    padding-top: 100px;
    background-color: #647C8A;
    height: 700px;
    color: #fff;
    margin-top: 50px;
}
#hey{
    color:#000;
    font-family: 'Prata', serif;
    font-size: 55px;
    margin-left: 80px;
}
#bio{
    font-family: 'Lato', sans-serif;
    font-size: 39px;
}

.skill-section{
    display: inline-block;
    vertical-align: top;
    /*margin-right: 52px;*/
    width: 180px;
    font-family: 'Lato', sans-serif;
}
.skills{
    display: inline-block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin-top: 70px;
}
.skills li{
    list-style-type: none;
    padding-left: 1px;
}
.skills ul{
    padding-left:1px;
    margin-left: 5px;
}
.info{
    font-family: 'Prata', serif;
    color: #000;
    padding-top:10px;
    text-align: center;
    font-size: 50px;
    border-bottom: solid #FFE39E 3px;
}
.skill-section{
    font-size: 30px;
    color: #454243;
}
.list{
    font-size: 20px;
    color: black;
}
div.navbar .navbar-inverse .navbar-fixed-left {

}

.navbar-fixed-left + .container {
    padding-left: 160px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}


/*@media screen and (min-width: 861px){*/
/*.wrapper{*/
/*height: 1000px;*/
/*background-color: #FFFFFF;*/
/*color: #A49D85;*/
/*float: right;*/
/*!*vertical-align: baseline;*!*/
/*width: 75em;*/
/*float: right;*/

/*font-family: 'Raleway', sans-serif;*/
/*!*max-width: 960px;*!*/
/*!*z-index: 10;*!*/
/*}*/
/*}*/


.wrapper {

    width: 760px;
    float: right;
    background-color: #FFF;

}
@keyframes element {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    70% {
        transform: scale(1);
        opacity: .7;
    }
    100% {
        transform: scale(1);
    }
}
div.element {
    animation-duration: 2s;
    animation-name: element;
}

/*@keyframes bio-1 {*/
/*from {*/
/*margin-left: 100%;*/
/*width: 100%;*/
/*}*/

/*to {*/
/*margin-left: 0%;*/
/*width: 100%;*/
/*}*/
/*}*/
.bio-1{
    /*animation-name: bio-1;*/
    /*animation-duration: 0.75s;*/
    /*animation-timing-function: ease;*/
    /*animation-delay: initial;*/
    /*animation-iteration-count: initial;*/
    /*animation-direction: initial;*/
    /*animation-fill-mode: both;*/
    /*animation-play-state: initial;*/
    display: inline-block;
    width: 450px;
    position: relative;
    float: left;
    font-size: 34px;
    font-family: 'Prata', serif;
    margin-left: 100px;

}
.navbar{
    width: 100%;
    position: relative;
    border-radius: 0px;
    height: 161px;
    margin-top: 0;
    text-align: center;
    /*background-color: #FECF51;*/
    border: 5px;
    z-index: 5;
    padding-top: 0;
}
.hidden-list{
    display:none;
}
.yellow{
    background-color: #FECF51;
    width: 100%;
    position: relative;
    z-index: 5;
    height: 485px;
    padding-top:10px;
}

#name-info{
    /*float:left;*/
    padding-left: 10px;
}
#name{
    color: #454243;
    font-size: 30px;
    /*float:left;*/
    display: inline-block;
    padding-left: 7px;
    margin-bottom: 0;
    margin-top: 7px;
    /*font-family: 'Rozha One', serif;*/
    font-family: 'Prata', serif;;
}
#software-developer{
    font-size: 20px;
    /*float:left;*/
    display: inline-block;
    color:#fff;
    font-family: 'Raleway', sans-serif;
}
.contact{
    color:#6B6B6B;
}
#contact-info{
    color:#FFE39E;
    float:right;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid #6B6B6B;
    border-radius: 20px;
    padding: 4px;
}
body{
    background-color: #FFFFFF;
}
.homepage{
    padding-top:110px;
    float: left;
    padding-bottom: 300px;

}
.skills{
    max-width: 1200px;
}
.lang{
    display: inline-block;
    /*flex-direction: column;*/
    padding-right: 95px;
    padding-top: 30px;
    align-items: center;
}
.tools{
    display: inline-block;
    /*flex-direction: column;*/
    padding-right: 0px;
    padding-top: 30px;
    align-items: center;

}
.lib{
    display: inline-block;
    /*flex-direction: column;*/
    padding-right: 95px;
    padding-top: 30px;
    align-items: center;

}
.gray {
    padding-top: 100px;
    background-color: #647C8A;
    height: 700px;
    color: #fff;
    margin-top: 50px;
}
#hey{
    color:#000;
    font-family: 'Prata', serif;
    font-size: 55px;
    margin-left: 80px;
}
#bio{
    font-family: 'Lato', sans-serif;
    font-size: 39px;
}

.skill-section{
    display: inline-block;
    vertical-align: top;
    /*margin-right: 52px;*/
    width: 180px;
    font-family: 'Lato', sans-serif;
}
.skills{
    display: inline-block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin-top: 70px;
}
.skills li{
    list-style-type: none;
    padding-left: 1px;
}
.skills ul{
    padding-left:1px;
    margin-left: 5px;
}
.info{
    font-family: 'Prata', serif;
    color: #000;
    padding-top:10px;
    text-align: center;
    font-size: 50px;
    border-bottom: solid #FFE39E 3px;
}
.skill-section{
    font-size: 30px;
    color: #454243;
}
.list{
    font-size: 20px;
    color: black;
}
div.navbar .navbar-inverse .navbar-fixed-left {

}

.navbar-fixed-left + .container {
    padding-left: 160px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.container{
    text-align: center;
}
#home {
    padding-top: 20px;
    background-color: #647C8A;
}

#profile-pic {
    width: 40%;
    border-radius: 50%;
}
a{
    width: 100%;
}
#nav-pic{
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 60px;
    margin-top:25px;
}
.nav-list{
    list-style-type: none;
    display: inline-block;
    padding:0;
    margin:0;
}
.list-nav{
    display: inline;
    padding-left:40px;
    font-size: 20px;
}
.gray-pic{
    -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);
}
.flex{
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-items: center;
}
.hover img{
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.container{

}
/*.overlay{*/
/*position: absolute;*/
/*transition: .5s ease;*/
/*background-color: #FECF51;*/
/*height: 100px;*/
/*width:100px;*/
/*}*/
.text{
    color: #fff;

}
.pics{
    display: block;

}
/**, *:before, *:after{*/
/*margin: 0;*/
/*padding: 0;*/
/*-webkit-box-sizing: border-box;*/
/*-moz-box-sizing:border-box;*/
/*box-sizing: border-box;*/
/*}*/
.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: auto;
    overflow: hidden;

}
.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    border: solid gray 2px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
p{
    font-family: 'Raleway', sans-serif;
}
.project-title{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.content:hover .content-overlay {
    opacity: 1;
}

.content-details{
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    opacity: 1;
}
.content-details {
    color:#fff;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;


}
.project{
    margin-bottom: 50px;
}
.project-links{
    border: solid #FFE39E  2px;
    color: #FFE39E ;
    padding: 6px;
}
.content-details a.project-links:hover{
    color: #FFF;
}
.footer{
    width: 100%;
    position: relative;
    border-radius: 0px;
    height: 161px;
    margin-top: 0;
    text-align: center;
    /*background-color: #FECF51;*/
    border: 5px;
    z-index: 5;
    padding-top: 0;
    background-color: black;
}
/*!*When the window is maximized.*!////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 1150px) and (max-width: 1300px){
}
/*Next Media Breakpoint/////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 921px) and (max-width: 1150px){
    .bio-1{
        display: inline-block;
        width: 400px;
        position: relative;
        float: left;
        /*font-size: 34px;*/
        font-family: 'Prata', serif;
        margin-left: 50px;
    }
    #nav-pic{
        width: 445px;
        height:300px;
        margin-right:20px;
    }
    .hidden-list{
        display:none;
    }
    .bio-1{
        font-size: 28px;
    }
    .lang{
        padding-right: 50px;
    }
    .lib{
        padding-right: 50px;
    }
}
/*Next Media Breakpoint/////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 776px) and (max-width: 920px){
    .bio-1{
        display: inline-block;
        width: 300px;
        position: relative;
        float: left;
        font-size: 26px;
        font-family: 'Prata', serif;
        margin-left: 55px;
        margin-top: 15px;
    }
    #nav-pic{
        width: 400px;
        height:250px;
        margin-right:20px;
    }
    .hidden-list{
        display:none;
    }
    .lang{
        padding-right: 40px;
    }
    .lib{
        padding-right: 40px;
    }

}
@media screen and (min-width: 701px) and (max-width: 775px){
    .bio-1{
        display: inline-block;
        width: 300px;
        position: relative;
        float: left;
        font-size: 26px;
        font-family: 'Prata', serif;
        margin-left: 55px;
        margin-top: 15px;
    }
    #nav-pic{
        width: 320px;
        height:220px;
        margin-right:20px;
    }
    .hidden-list{
        display:none;
    }
    .lang{
        padding-right: 40px;
    }
    .lib{
        padding-right: 40px;
    }

}
/*Next Media Breakpoint/////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 300px) and (max-width: 700px){
    .bio-1{
        display: inline-block;
        width: 700px;
        max-width: 86%;
        position: relative;
        float: left;
        font-size: 26px;
        font-family: 'Prata', serif;
        margin-left: 55px;
        margin-top: 15px;
    }
    #nav-pic{
        width: 400px;
        height:250px;
        margin-right:0;
        display: block;

    }
    .center{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .yellow{
        height: 585px;
    }
    .list-nav{
        padding-left:10px;
        width: 90%;
        justify-content: center;
        display: none;

    }
    .one{
        display: none;
    }
    .two{
        display: none;
    }
    .hidden-list{
        display: inline-block;
    }
    .hidden-links{
        list-style-type: none;
        font-size: 18px;
        font-family: 'Prata', Serif;

    }
    .hidden-list{
        padding-left: 0;
    }
    li .list-nav{
        margin-right:0;
    }
    .navbar{
        width:100%;
        display: flex;
        justify-content: center;
        height: 260px;
    }
    .bio-1{
        margin-left: 30px;
        margin-right: 30px;
    }
    .lang{
        padding-right: 0;
        padding-left:0;
        width: 100%;
    }
    .lib{
        padding-right: 0;
        padding-left:0;
        width:100%;
    }
    .tools{
        padding-left: 0;
        width:100%;
    }
    #hey{
        margin-left: 40px;
    }
    .project-links {
        border: solid #FFE39E 2px;
        color: #FFE39E;
        padding: 6px;
        display: block;
        margin-bottom: 5px;
    }
}
@media only screen
and (max-width : 320px) {
    /* Styles */
}