@keyframes element {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
div.element {
    animation-duration: 2s;
    animation-name: element;
}

@keyframes bio-1 {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
.bio-1{
    animation-name: bio-1;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: initial;
    animation-iteration-count: initial;
    animation-direction: initial;
    animation-fill-mode: both;
    animation-play-state: initial;
}
.navbar{
    width: 100%;
    position: relative;
    border-radius: 0px;
    height: 40px;
    margin-top: 0;
    text-align: center;
    /*background-color: #FECF51;*/
    border: 5px;
    z-index: 5;
    padding-top: 0;
}
.yellow{
    background-color: #FECF51;
    width: 100%;
    position: relative;
    z-index: 5;
    height: 390px;
}

#name-info{
    /*float:left;*/
    padding-left: 10px;
}
#name{
    color: #454243;
    font-size: 30px;
    /*float:left;*/
    display: inline-block;
    padding-left: 7px;
    margin-bottom: 0;
    margin-top: 7px;
    /*font-family: 'Rozha One', serif;*/
    font-family: 'Titillium Web', sans-serif;
}
#software-developer{
    font-size: 20px;
    /*float:left;*/
    display: inline-block;
    color:#fff;
    font-family: 'Raleway', sans-serif;
}
.contact{
    color:#6B6B6B;
}
#contact-info{
    color:#FFE39E;
    float:right;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid #6B6B6B;
    border-radius: 20px;
    padding: 4px;
}
body{
    background-color: #FFFFFF;
}
.homepage{
    padding-top:110px;
    float: left;
    padding-bottom: 300px;

}
.skills{
    max-width: 1200px;
}
.lang{
    display: inline-block;
    /*flex-direction: column;*/
    padding-right: 95px;
    padding-top: 30px;
    align-items: center;
}
.tools{
    display: inline-block;
    /*flex-direction: column;*/
    padding-right: 0px;
    padding-top: 30px;
    align-items: center;

}
.lib{
    display: inline-block;
    /*flex-direction: column;*/
    padding-right: 95px;
    padding-top: 30px;
    align-items: center;

}
.gray {
    padding-top: 100px;
    background-color: #647C8A;
    height: 700px;
    color: #fff;
    margin-top: 50px;
}
#hey{
    color:#FECF51;
    font-family: 'Titillium Web', sans-serif;
    font-size: 55px;
}
#bio{
    font-family: 'Lato', sans-serif;
    font-size: 39px;
}

.skill-section{
    display: inline-block;
    vertical-align: top;
    /*margin-right: 52px;*/
    width: 180px;
    font-family: 'Lato', sans-serif;
}
.skills{
    display: inline-block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.skills li{
    list-style-type: none;
    padding-left: 1px;
}
.skills ul{
    padding-left:1px;
    margin-left: 5px;
}
.info{
    font-family: 'Lato', sans-serif;
    color: #00aba9;
    padding-top:10px;
    text-align: center;
    font-size: 50px;
}
.skill-section{
    font-size: 30px;
    color: #454243;
}
.list{
    font-size: 20px;
    color: black;
}
div.navbar .navbar-inverse .navbar-fixed-left {

}

.navbar-fixed-left + .container {
    padding-left: 160px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.container {
}
@media screen and (min-width: 861px){
    .wrapper{
    height: 1000px;
    background-color: #FFFFFF;
        color: #A49D85;
        float: right;
    /*vertical-align: baseline;*/
        width: 75em;
        float: right;
        position: relative;
        font-family: 'Raleway', sans-serif;
        /*max-width: 960px;*/
        /*z-index: 10;*/
    }
}


/*When the window is minimized.*/
@media screen and (min-width: 768px) and (max-width: 991px){
.wrapper {

    width: 760px;
    float: right;
    background-color: #FFF;

}
}


.container{
    text-align: center;
}
#home {
    padding-top: 20px;
    background-color: #647C8A;
}

#profile-pic {
    width: 40%;
    border-radius: 50%;
}
a{
    width: 100%;
}
#nav-pic{
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 60px;
    margin-top:25px;
}
.nav-list{
    list-style-type: none;
    display: inline-block;
    padding:0;
    margin:0;
}
li{
    display: inline;
}